<!doctype html>
<html>


<body>
    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Events</h1>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <% @events.each do |event| %>
            <div class="col-md-4">
              <h2><%= event.title %></h2>
              <p><%= event.description %></p>
              <p><a class="btn btn-secondary" href="<%= event_path(event) %>" role="button">View details &raquo;</a></p>
            </div>
          <% end %>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>
</body>

</html>
